body {
background-image: url("../images/coin\ background\ white.jpg");
background-repeat: repeat;
}

#block-0, #block-1, #block-2, #block-3 {
    width: 75%;
    height: auto;
}

#score {
background-color: white;
border: 4px solid darkred;

}

.instructions, h1 {
    background-color: white;
    border: 5px solid darkred;
}

h1 {
    width: 50%;
    text-align: center;
}

h4, #winsLosses, #randNumber {
    background-color: white;
    border: 4px solid darkred;
    margin: 5px;
}
